/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;

}
body{
	background: #c769d3;
	background: -moz-linear-gradient(-45deg, #b41db4 0%, #000000 33%, #c429d8 71%, #0c050c 91%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3a350c), color-stop(33%,#9b1f50), color-stop(71%,#cb45cf), color-stop(91%,#ff89eb));
	background: -webkit-linear-gradient(-45deg, #000000 0%,#a31898 33%,#a629d8 71%,#fb89ff 91%);
	background: -o-linear-gradient(-45deg, #b41db4 0%,#9b1f50 33%,#360944 71%,#ff89f5 91%);
	background: -ms-linear-gradient(-45deg, #060507 0%,#1d1719 33%,#401144 71%,#ff89f9 91%);
	background: linear-gradient(135deg, #781db4 0%,#9b1f50 33%,#b529d8 71%,#ff89ff 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff89ff', endColorstr='#89b4ff',GradientType=1 );
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 110% 110%;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.container > header,
.main {
	padding: 0 30px 50px 30px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.container > header {
	padding: 30px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: rgb(255, 255, 255);
	float: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.hh1{
	color: rgb(129, 93, 93);
}
.i7{
	width: 40px;
	height: 40px;
}
.container > header h1 span {
	font-size: 18px;
	font-weight: 300;
	display: block;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #fff;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.5);
}
.clearfix i{
	margin-left: 140px;
	position: absolute;
	font-size: 60px;
	margin-top: 5px;
	color: #EF4F69;
}

